@media {
    
#topper {
    background-color:#B60000;
}

body {
       background-color: #004AAD  
    }

.container-fluid {
    background-color: #004AAD;
    }

img {
    width:350px;
    border-radius:50px;
    border: 5px solid #000000;
    margin: 20px 0px 0px 50px;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    font-size: 150px;
    text-align: center;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    text-align: center;
    font-size: 80px;
}


h3 {
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    font-size:80px;
    text-align: left;
    padding: 5px 0px 0px 20px;
}

p {
    font-family: 'Signika Negative', sans-serif;
    color: white;
    font-size: 15px;
    text-align: left;
    padding: 10px 0px 0px 20px;
} 

#buttons {
    background-color: yellow;
    border: 5px solid #000000;
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
    font-size: 30px;
    text-align:center;
    font-family: 'Signika Negative', sans-serif;
}

#button {
    background-color: whitesmoke;
    border: 5px solid #000000;
    border-radius: 10px;
    padding: 10px 40px 10px 40px;
    margin: auto;
    font-size: 50px;
    text-align:center;
    font-family: 'Signika Negative', sans-serif;
}

#buttons:hover {
    background-color: white;
}

#button:hover {
    background-color: yellow;
}

#footer {
    background-color:#B60000;
    color: white;
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
}

}

@media (min-width: 576px){
    
    
}